{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "airbnb",
        "airbnb-typescript"
    ],
    "overrides": [
    ],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "semi": ["error", "always"],
        "quotes": ["warn", "single"],
        "linebreak-style": 0,
        "no-unused-vars": "warn",
        "import/prefer-default-export": "off",
        "react/react-in-jsx-scope": "off",
        "@typescript-eslint/no-unused-vars": "warn"
    },
    "ignorePatterns": ["*css", "*svg"]
}
