.header-bg {
  background-image: var(--background-img-desktop);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  width: 100%;
}

.container {
  width: 54rem;
  margin: -22rem auto 0 auto;
  padding: 0 2rem;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 4rem;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1.6rem;
  color: var(--header-text);
}

@media (max-width: 36em) {
  .header-bg {
    background-image: var(--background-img-mobile);
  }

  .container {
    width: 90%;
  }
}